#The database name.
DATABASE_NAME=PrivateChat


#The user in database, default is postgres.
DATABASE_USER=postgres


#The database/login password.
DATABASE_PASSWORD=your_password_here


#The database host, default is localhost.
DATABASE_HOST=localhost


#The database port, default port is 5432
DATABASE_PORT=5432


#Run the command and paste the output on <>
TOKEN_SECRET_KEY=<```py -c "import secrets; print(secrets.token_urlsafe(64))"```>
